.catalogo{
    h2{
        text-align: center;
        margin: 15px;
        
    }
}
            
.cartita{
    margin-bottom: 15px;
    background-color:rgb(224, 220, 211) ;
    img{
        height: 500px;
    }
}

.card-title{
    margin-top: 10px;
}