footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 15px;
    p{
        margin-top: 25px;
    }
}

.futer{
    position: absolute;
    width: 400px;
    right: 0px;
    border-radius: 80px;
    
}

.futer span{
    font-family: 'Comfortaa', cursive;
    color: #afafaf;
    width: 200px;
    line-height: 80px;
    display: inline-block;
    
    text-transform: uppercase;
    position: absolute;
    left: 20%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.futer nav{
    font-size: 0;
    margin-bottom: 25px;
}

.futer a{
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(180deg, rgb(56, 52, 52), #afafaf);
    color: #ffffff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

}

.futer a:nth-child(1){
    border-top-left-radius:40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

.futer a:nth-child(4){
    border-top-right-radius:40px;
    border-bottom-right-radius: 40px;
    margin-left: 0;
}

.futer a:nth-child(1):hover{
    background-color: rgb(152, 54, 243);
}

.futer a:nth-child(2):hover{
    background-color: rgb(14, 168, 14);
    
}

.futer a:nth-child(3):hover{
   background-color: rgb(152, 152, 245); 
}

.futer a:nth-child(4):hover{
    background-color: rgb(126, 120, 120);
}

.futer:hover span, .share.hover span{
    opacity: 0;
}
.futer:hover a, .share.hover a{
    margin: 0 10px;
    color: #413838;
    font-size: 28px;
    border-radius: 50%;
    background: #ffffff15;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.futer:hover a:hover, .share.hover a:hover{
    color: #fff;
}

