
.medio-ambiente .medbarra{
    @extend %dflexc;
    margin: 20px;
    h2{
        text-align: center;
        ul{
            font-size: 1.5em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            list-style: circle;
            
        }
    }
}   

button{
    margin: 20px;
        
}

.ambiente1{
    background-image: url(../imagenes/medioamb1.jpg);
    width: 2000px;
    height: 500px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;  
    
}

.ambiente2{
    background-image: url(../imagenes/medioamb2.jpg);
    width: 2000px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.ambiente3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imagenes/medioamb3.jpg) ;
    width: 2000px;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.calesitaMA{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f0e8e8;
    font-family:'Comfortaa', cursive ;
    font-size: small;
    h2{
        margin: 150px 50px 50px 50px;
    }
}
